modules = ["nodejs-24"]

run = "pnpm --filter @workspace/api-server dev"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4173
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[deployment]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
